* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.social-icon {
  margin-right: 15px;
}

.main-title {
  padding-top: 25px;
  padding-bottom: 30px;
  margin: auto;
  width: 80%;
  font-family: 'Lobster', cursive;
}

.description {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  font-size: 25px;
  width: 70%;
  font-family: 'Hind', sans-serif;
}

.project-container {
  position: relative;
  width: 75%;
  margin: auto;
  text-align: center;
}

.project {
  position: relative;
  height: 300px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  font-family: 'Hind', sans-serif;
}

.card {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  box-shadow: 0 0 8px darkgray;
  margin: 0 auto;
  height: 65%;
  width: 65%;
}

.back-img-1 {
  background-image: url("../images/projects-index.png");
  z-index: 1;
}

.back-img-2 {
  background-image: url("../images/search-desktop.png");
}

.back-img-3 {
  background-image: url("../images/calculator.png");
}

.back-img-4 {
  background-image: url("../images/etch-a-sketch.png");
}

.back-color-1 {
  background-color: #e7af39;
}

.back-color-2 {
  background-color: #655;
}

.back-color-3 {
  background-color: #d35749;
}

.back-color-4 {
  background-color: #0a369d;
}

.card-title {
  display: none;
}

.social-footer img {
  height: 25px;
}

.footer-text {
  font-size: 13px;
  color: rgb(173, 10, 10);
}

@media (min-width: 768px) {
  .project {
    height: 500px;
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .project-container {
    width: 90%;
  }

  .main-title {
    font-size: 20px;
  }

  .description {
    font-size: 18px;
  }

  .btn-light {
    font-size: 13px;
  }

  .social-icon img {
    width: 40px;
  }
}
